@media (max-width: 600px) {
  header {
    height: 80vh !important;

    section {
      padding-top: 180px !important;
    }
  }
}

body {
  font-family: "Roboto", sans-serif;
  //   font-family: "Roboto Slab", serif;
}

// Navbar
.bg-mine {
  background-color: #0a1931;
}

.navbar {
  .nav-item {
    a {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #ffffff !important;
      margin-right: 30px;

      &:hover {
        color: #ffc947 !important;
      }
    }
  }
  .btn-contact {
    border: 2px solid #ffc947;
    color: #ffc947;
    margin-right: 20px;

    &:hover {
      background-color: #ffc947;
      color: #0a1931;
    }
  }
}

// Header
header {
  margin-top: -59px;
  background: url("../images/bg@2x.png");
  background-size: cover;
  height: 100vh;

  section {
    padding-top: 220px;
    h1 {
      font-family: "Roboto Slab", serif;
      color: #ffffff;
      font-weight: bold;
      font-size: 50px;
      letter-spacing: 0.05em;
    }

    h3 {
      font-family: "Roboto", sans-serif;
      color: #ffc947;
      font-size: 30px;
      font-weight: normal;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #feddbe;
      margin-top: 15px;
    }

    hr {
      width: 305px;
      border: 1px solid #ffc947;
      margin-left: 0px;
    }

    .btn-selengkapnya {
      margin-top: 10px;
      background-color: #ffc947;
      color: #0a1931;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 23px;

      &:hover {
        background-color: #ffdb83;
      }
    }
  }
}

.bar {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -70px;
  border: 1px solid #afafaf;

  .stat {
    border-right: 1px solid #0a1931;
  }

  h3 {
    font-size: 40px;
    font-size: normal;
  }

  p {
    font-size: 16px;
    font-weight: normal;
  }
}

// About
.about {
  margin-top: 100px;

  p {
    font-size: 20;
    color: #ffc947;
    font-weight: normal;
  }

  h3 {
    font-weight: 500;
    font-size: 40px;
    color: #0a1931;
    margin-top: -15px;
  }

  hr {
    border: 1px solid #0a1931;
  }

  .bio {
    margin-top: 30px !important;
    p {
      font-weight: 300;
      font-size: 20px;
      color: #0a1931;
    }
  }

  .btn-instagram {
    margin-top: 10px;
    background: #0a1931;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-bottom: 50px;

    &:hover {
      background-color: white;
      color: #0a1931;
      border: 1px solid #0a1931;
    }
  }

  .customer {
    margin-top: 40px !important;

    .container-service {
      margin-top: 15px;
      padding-top: 20px;
      img {
        float: left;
        margin-right: 25px;
      }

      .text {
        h5 {
          font-weight: 500;
          font-size: 18px;
          color: #0a1931;
        }

        p {
          font-weight: normal;
          font-size: 16px;
          color: #0a1931;
        }

        hr {
          margin-top: 20px;
          border: 1px solid #afafaf;
        }
      }

      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
}

// Services
.services {
  margin-top: 100px;
  background-color: #0a1931;
  padding-top: 100px;
  padding-bottom: 100px;
  .services-header {
    p {
      font-size: 20;
      color: #ffc947;
      font-weight: normal;
    }

    h3 {
      font-weight: 500;
      font-size: 40px;
      color: #ffffff;
      margin-top: -15px;
    }
  }

  .card {
    height: 513px;
    border: 1px solid #707070;
    margin-top: 50px;
    transition: 0.5s;

    &:hover {
      transition: 0.2s;
      transform: translateY(-20px);
    }

    .card-header {
      padding: 20px 0px;
      font-weight: normal;
      font-size: 30px;
      color: #0a1931;
    }

    .ch-yellow {
      background-color: #ffc947;
    }

    .ch-orange {
      background-color: #ff9d47;
    }

    .ch-red {
      background-color: #ff4c47;
    }

    .content-header {
      p {
        font-weight: 500;
        font-size: 30px;
        color: #0a1931;
        margin-top: 25px;
      }

      hr {
        width: 204px;
        border: 1px solid #0a1931;
      }
    }

    .detail {
      margin-top: 30px;
      margin-left: 40px;
      img {
        float: left;
        margin-right: 10px;
      }
      p {
        margin-top: -5px;
        font-weight: normal;
        font-size: 20px;
        color: #0a1931;
      }
    }

    .ps {
      margin-left: 40px;
      font-weight: 300;
      font-size: 12px;
      color: #0a1931;
    }
  }
}

// Contact

.contact {
  margin-top: 100px;
  .contact-header {
    p {
      font-size: 20;
      color: #ffc947;
      font-weight: normal;
    }

    h3 {
      font-weight: 500;
      font-size: 40px;
      color: #0a1931;
      margin-top: -15px;
    }

    hr {
      border: 1px solid #0a1931;
    }
  }

  .contact-content {
    margin-top: 35px;
    img {
      float: left;
      margin-right: 15px;
    }

    p {
      margin-top: 1px;
    }

    .nope {
      margin-top: -20px;
      font-weight: bold;
    }

    hr {
      width: 212px;
      border: 1px solid #afafaf;
      margin-left: 0;
    }
  }

  .socmed {
    p {
      margin-top: 35px;
      font-weight: 500;
      font-size: 18px;
      color: #0a1931;
    }

    a {
      text-decoration: none;
    }

    img {
      margin-top: 10px;
      margin-right: 15px;
    }
  }

  .side {
    margin-top: 120px;
  }
}

// Footer
footer {
  margin-top: 100px;
  background-color: #0a1931;
  padding-top: 35px;

  .foot-image {
    img {
      max-height: 20px;
    }

    h5 {
      margin-top: 15px;
      margin-left: 10px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.05em;
      text-align: left;
      color: #fff;
    }
  }

  h5 {
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
  }

  p {
    margin-top: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
  }

  a {
    text-decoration: none;
  }

  .socmed {
    img {
      max-height: 20px;
      margin-right: 10px;
    }
  }
}
